body {
    font-family: Arial, sans-serif;
  }
  .hero {
    background-image: image("images\img2.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  hr {
    color: black;
  }
  footer {
    background-color: #f8f9fa;
  }
  